body {
   
        background-color:yellow;
    }

#principal {
        font-size: 2.5em;
        color: red;
    }
#borde {
    border: 2px solid black;
    width: 40vw;
    margin: auto;
    padding: 2em;
}

.miTexto {
    font-size: 1.5em;
    color: cyan;
}

.logo {
    width:300px;
}

.cuadrito {
    border: 3px solid black;
    width: fit-content;
    padding: 2px 1em 2px 1em;
    border-radius: 2%;
    transition: 2s;
    
}
/*PSEUDOSELECTOR  Cuando pase el mouse por encima se muestra un color */
.cuadrito:hover{
    background-color: white;
}

